
    .text {
        position:relative;
/*         margin-bottom:10px; */
    }

    .text-link, .label-link {
        color:#0a4871;
        text-decoration:underline;
    }

    .text-link:hover, .label-link:hover {
        color:#0a4871;
        text-decoration:none;
        cursor:pointer;
    }

    .label {
        position:relative;
        font-weight:bold;
        white-space:nowrap;
/*         margin-top:5px; */
    }

    .label-wrap {
        white-space:normal;
    }

    .image-link {
        cursor:pointer;
    }

    .image-noborder img {
        border:0px none !important;
    }

    /**
     * Heading control
     */
    .heading {
        font-weight:bold;
        margin:0px;
        white-space:nowrap;
    }

    .heading-link {
        cursor:pointer;
    }

    .heading-link a {
        text-decoration:none !important;
    }

    .heading-wrap {
        white-space:normal;
    }

    h1.heading {
        font-size:18px;
        color:#0b4670;
    }

    h2.heading {
        font-size:16px;
        color:#0b4670;
    }

    h3.heading {
        font-size:14px;
        color:#0b4670;
    }

    h4.heading {
        font-size:18px;
    }

    h5.heading {
        font-size:16px;
    }

    .horizontalbox table {
        width:100%;
        border-collapse:collapse;
    }

    .horizontalbox table td {
        position:relative;
        vertical-align:top;
    }

    .verticalbox {
    }

    .verticalbox .verticalbox-cell {
        position:relative;
/*         padding:2px 4px; */
    }

    .textbox {
        margin:0px 4px;
    }

    .textbox textarea, .textbox input {
        width:100%;
        padding:2px 3px;
    }

    .textbox textarea {
        height:150px;
    }

    .passwordbox {
        margin:0px 4px;
    }

    .passwordbox input {
        width:100%;
        padding:2px 3px;
    }

    .listbox {
        margin:0px 4px;
    }

    .listbox select {
/*         width:100%; */
        padding:2px 3px;
    }

    .choosebox {
        margin:0px 3px;
        padding-right:30px;
    }

    .choosebox input {
        width:100%;
        padding:2px 3px;
    }

    .datebox, .datetimebox {
        position:relative;
        margin:0px 4px;
        width:170px;
    }

    .datebox input, .datetimebox input {
        width:100%;
        padding:2px 3px;
    }

    .datebox-cal table {
        border-collapse:collapse;
    }

    .datebox-cal {
        position:absolute;
        left:0px;
        right:-8px;
        z-index:1;
        padding-left:1px;
        overflow:hidden;
    }

    .datebox-cal td {
        text-align:center;
    }

    .datebox-cal .datebox-title {
        background:transparent url(/milk/ext/theme/mal/img/mb/mb_t.png) repeat-x scroll 0 0;
        text-align:center;
        font-weight:bold;
        font-size:10px;
        color:#ffffff;
        border:1px solid #0b4670;
    }

    .datebox-cal .datebox-title .datebox-prev, .datebox-cal .datebox-title .datebox-next {
        cursor:pointer;
        padding:3px;
    }

    .datebox-cal .datebox-title .datebox-prev a, .datebox-cal .datebox-title .datebox-next a {
        color:#ffffff;
        text-decoration:none;
    }

    .datebox-cal .datebox-dow {
        border:1px solid #0b4670;
        background:#0D70B6 url(/milk/ext/theme/mal/img/dg/headerbg.png) repeat-x;
        font-weight:bold;
        font-size:10px;
        color:#ffffff;
        padding:3px;
        width:14%;    
    }

    .datebox-cal .datebox-day {
        position:static;
        border:1px solid #b1b1b1;
        padding:3px;
        cursor:pointer;
        background-color:#ffffff;
        font-size:10px;
        font-weight:bold;
    }

    .datebox-cal .datebox-nonday {
        position:static;
        border:1px solid #b1b1b1;
        background-color:#ececec;
        color:#636363;
        padding:3px;
        font-size:10px;
    }

    .datebox-cal .datebox-today {
        background-color:#f3de88;
    }

    .datebox-cal .datebox-time {
        background-color:#ffffff;
        border:1px solid #b1b1b1;
        padding:1px;
        padding-left:3px;
    }

    .datebox-cal .datebox-time select {
        border:1px solid #b1b1b1;
        font-size:10px;
        margin-right:2px;
    }

    .button {
        float:left;
        clear:both;
        background-color:#e0dfde;
        border:1px outset #cccccc;
        padding:2px 6px;
        cursor:pointer;
        margin-left:4px;
        margin-right:2px;
    }

    /**
     * DataGrid control
     */
    .datagrid {
        border:1px solid #686868;
        border-bottom:0px none;
        border-right:0px none;
    }

    .datagrid .datagrid-table tr.dg-row {
        border-bottom:1px solid #686868;
    }

    .datagrid .datagrid-table th {
        text-align:left;
        border-right:1px solid #686868;
        background-color:#e0dfde;
        -moz-user-select:none;
    }

    .datagrid .datagrid-table td.dg-cell {
        border-right:1px solid #686868;
        -moz-user-select:none;
    }

    .datagrid .datagrid-hover {
        cursor:pointer;
        background-color:#b1b1b1;
    }

    .datagrid .datagrid-focus {
        background-color:#cccccc;
    }

    .table td {
        vertical-align:top;
        padding-right:8px;
    }